<template>
  <section>
    <h2>{{ categorieProp.name }}</h2>
    <div class="info">{{ infoMessage }}</div>
    <input type="text" v-model="categorieProp.name" placeholder="entrez le nom de la catégorie">
    <button v-on:click="updateCategorie">💾</button>
    <button v-on:click="deleteCategorie">🗑</button>
  </section>
</template>

<script>
export default ({
  name: 'Categorie',
  props: {
    categorieProp: Object,
    infoMessage: null
  },
  methods: {
    updateCategorie () {
      let APIURL
      let HTTPMethod
      if (this.categorieProp.id === undefined) {
        APIURL = 'https://localhost:8000/api/categories'
        HTTPMethod = 'POST'
      } else {
        APIURL = 'https://localhost:8000/api/categories/' + this.categorieProp.id
        HTTPMethod = 'PUT'
      }
      fetch(APIURL,
        {
          method: HTTPMethod,
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            name: this.categorieProp.name
          })
        })
        .then((response) => {
          if (response.status === 200) {
            this.infoMessage = '✅ Catégorie modifiée'
          } else if (response.status === 201) {
            this.infoMessage = '✅ Catégorie créée'
          } else {
            this.infoMessage = '⚠ Une erreur est survenue lors de la modification de la catégorie'
          }
        })
      // we reload categories
      this.$emit('getCategoriesParent')
    },
    deleteCategorie () {
      console.log('suppression de catégorie')
      fetch('https://localhost:8000/api/categories/' + this.categorieProp.id, { method: 'DELETE' })
        .then((response) => {
          if (response.status === 204) {
            this.infoMessage = '✅ Catégorie supprimée'
          } else {
            this.infoMessage = '⚠ Une erreur est survenue lors de la suppression de la catégorie'
          }
          // we reload categories
          this.$emit('getCategoriesParent')
        })
    }
  }
})
</script>

<style scoped>
section {
    margin: 5px; border: 1px solid rebeccapurple;
    background-color: navajowhite;
}
h1 {
    color: darkolivegreen;
}
</style>
